<%- include("layouts/header") -%>
<%- include("layouts/navbar") -%>

<body>
    <h1>Crea un nuovo annuncio</h1>
    <form action="/creAnnuncio" method="POST">
      <label for="titolo">Titolo:</label>
      <input type="text" name="titolo" required><br>
      
      <label for="descrizione">Descrizione:</label>
      <textarea name="descrizione" required></textarea><br>
      
      <label for="nomeCognomeUtente">Nome:</label>
      <input type="text" name="nome" required><br>

      <label for="nomeCognomeUtente">Cognome:</label>
      <input type="text" name="cognome" required><br>
      
      <label for="telefono">Telefono:</label>
      <input type="text" name="telefono" required><br>
      
      <label for="email">Email:</label>
      <input type="email" name="email" required><br>
      
      <input type="submit" value="Crea">
    </form>
  </body>


<%- include("layouts/footer") -%>